@{
    ViewData["Title"] = "Agenda";
}

<h2>Agenda</h2>
<hr />
<table id="Agendamentos" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Vacina</th>
            <th>Data Agendamento</th>
        </tr>
    </thead>
    <tbody>
    <tbody>
</table>

<script src="~/js/agenda.js" asp-append-version="true"></script>